[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rvm"]
	path = bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
